__pycache__
tempCodeRunnerFile.py
steam esya satis
indirme suresine ek.txt

test.py
deneme.py

indirme_arayuz.py

tarayici.py

satir ayikla kaynak dlc.ini
satir_yakala.py

upgrade.bat
dosya_isim_oto_al.py

deneme_Dosyası
deneme_dd.txt
deneme_dd
winget.py
